body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif, "Montserrat";
}

/* ////////////////////////// */
nav.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #333;
  padding: 1em;
}

ul.nav a {
  color: white;
  text-align: center;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  padding: 0.5em;
  text-transform: capitalize;
  float: none;
  border-radius: 0.5em;
  border-style: solid;
  border-color: grey;
}

ul.nav a:hover {
  background-color: lightskyblue;
  border-radius: 0.5em;
  transition: 0.5s;
}

ul.nav {
  list-style: none;
  display: flex;
  gap: 1em;
}

ul.nav li:last-child {
  border-right: none;
}

.active {
  border-bottom: 2px solid #ffffff;
}

@media (max-width: 600px) {
  ul.nav {
    display: flex;
    font: 1.2em;
    flex-direction: column;
    align-items: center;
    background-color: #333;
    justify-content: center;
    gap: 2em;
    top: 60px;
    width: 100%;
    transition: 0.5s;
  }
}

/* //////////////////////// */

body {
  background: fixed;
  background-color: beige;
}

h1 {
  text-align: center;
  text-decoration: underline;
}

details[open] summary ~ * {
  animation: sweep 0.5s ease-in-out;
}

@keyframes sweep {
  0% {
    opacity: 0;
    transform: translate(-10px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

details {
  margin: 1.3rem 0;
}

details summary {
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 0.5em;
  font-weight: bold;
  margin: -0.5em -0.5em 0;
  padding: 0.5em;
  align-content: center;
  align-items: center;
}
