body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif, "Montserrat";
}

/* ////////////////////////// */
nav.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #333;
  padding: 1em;
}

ul.nav a {
  color: white;
  text-align: center;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  padding: 0.5em;
  text-transform: capitalize;
  float: none;
  border-radius: 0.5em;
  border-style: solid;
  border-color: grey;
}

ul.nav a:hover {
  background-color: lightskyblue;
  border-radius: 0.5em;
  transition: 0.5s;
}

ul.nav {
  list-style: none;
  display: flex;
  gap: 1em;
}

ul.nav li:last-child {
  border-right: none;
}

.active {
  border-bottom: 2px solid #ffffff;
}

@media (max-width: 600px) {
  ul.nav {
    display: flex;
    font: 1.2em;
    flex-direction: column;
    align-items: center;
    background-color: #333;
    justify-content: center;
    gap: 2em;
    top: 60px;
    width: 100%;
    transition: 0.5s;
  }
  img {
    max-width: 300px;
    height: auto;
  }
}

/* //////////////////////// */

.fav {
  background: #ff9999;
  padding: 20px;
}

ol.fav li {
  background: #ffe5e5;
  color: darkred;
  padding: 5px;
  margin-left: 35px;
}

.eat {
  background: lightblue;
  padding: 20px;
}

ol.eat li {
  background: lightskyblue;
  color: darkblue;
  padding: 5px;
  margin-left: 35px;
}

.fast {
  background: #44107a;
  padding: 20px;
}

ol.fast li {
  background: lightblue;
  color: whitesmoke;
  padding: 5px;
  margin-left: 35px;
}

h3 {
  align-items: center;
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #44107a 0%,
    purple 29%,
    blue 67%,
    lightskyblue 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.container {
  margin: 1.3rem;
}
